.home-wrap {
  height: 100vh;
  font-size: 14px;

  .title {
    font-weight: 500;
    font-size: 16px;
    font-family: YouSheBiaoTiHei, YouSheBiaoTiHei-Regular;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    line-height: 30px;
    text-align: center;
    border: 1.5px solid #c1bcbc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      border: 1.5px solid #785f79;
    }
  }
  .icon {
    font-size: 24px;
  }
}
