.drag-shape-wrap {
  position: absolute;
  &:hover {
    cursor: move;
    user-select: none;
  }
  .drag-shape-point {
    position: absolute;
    z-index: 1;
    width: 8px;
    height: 8px;
    background: #fff;
    border: 1px solid #59c7f9;
    border-radius: 50%;
  }
  .drag-shape-rotate {
    position: absolute;
    top: -34px;
    left: 50%;
    width: 25px;
    font-weight: 600;
    font-size: 16px;
    font-size: 20px;
    transform: translateX(-50%);
    cursor: grab;
    fill: #59c7f9;
  }
}
