.layout-wrap {
  height: 100vh;
  color: #000;

  .layout-content {
    position: relative;
    display: flex;
    height: calc(100% - 40px);
  }
  .canvas-wrap {
    flex: 1 1;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(144, 146, 152, 0.46);
      border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 5px;
    }
  }
  .canvas-content {
    width: 5000px;
    height: 3000px;
    padding: 10px;
  }
  .grid-wrap {
    background-color: #13171e;
    background-image: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.04),
        rgba(242, 242, 242, 0.08) 1px,
        transparent 1px,
        transparent 20px
      ),
      repeating-linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0.04),
        rgba(242, 242, 242, 0.08) 1px,
        transparent 1px,
        transparent 20px
      );
    background-position: 1px 1px;
    background-size: 10px 10px;
  }
}
