.slider {
  position: fixed;
  bottom: 20px;
  left: 50%;
  display: inline-block;
  height: 32px;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  background: #24282e;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  user-select: none;
  & > span {
    margin: 0 8px;
  }
  &-btn {
    cursor: pointer;
  }
  &-number {
    display: inline-block;
    width: 45px;
    text-align: center;
    &:hover {
      background: rgba(72, 77, 89, 0.69);
    }
  }
  .ant-tooltip-inner {
    .list {
      width: 80px;
    }
    .item {
      &:hover {
        background: rgba(72, 77, 89, 0.69);
      }
    }
  }
}
