.drag-mark-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.line {
  position: absolute;
  z-index: 1000;
  background: #4ff0a5;
}
.x-line {
  width: 100%;
  height: 1px;
}
.y-line {
  width: 1px;
  height: 100%;
}
